name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  industrial_ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ROS_DISTRO: [jazzy]
        ROS_REPO: [testing, main]
    env:
      ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
      ROS_REPO: ${{ matrix.ROS_REPO }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Source tests
        uses: "ros-industrial/industrial_ci@master"
        env:
          DOWNSTREAM_WORKSPACE: "github:RaphRover/raph_desktop#main github:RaphRover/raph_robot#main"